<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.personalbuddyback.mapper.AlertMapper">
<!--  알림 발생  -->
<!--  타입(필수)과 파라미터값으로 해당 알림 해석 멤버가 따로 존재하지 않으면 NULL가능  -->
    <insert id="insert" parameterType="AlertVO">
        INSERT INTO TBL_ALERT (
            ID,
            ALERT_TYPE,
            ALERT_MESSAGE,
            ALERT_PARAM,
            RECEIVER_MEMBER_ID,
            SENDER_MEMBER_ID
        ) VALUES (
            SEQ_ALERT.NEXTVAL,
            #{alertType},
            #{alertMessage},
            #{alertParam},
            #{receiverMemberId},
            #{senderMemberId}
        )
    </insert>

<!--  알림 리스트  -->
<!--  받는 멤버 아이디와 동적 쿼리로 알림 타입에 따른 조회결과 변경  -->
    <select id="selectAll" parameterType="map" resultType="AlertViewDTO">
        SELECT
            TA.ID,
            TA.ALERT_TYPE,
            TA.ALERT_MESSAGE,
            TA.ALERT_CREATE_TIME,
            TA.ALERT_READ,
            TA.ALERT_PARAM,
            TA.RECEIVER_MEMBER_ID,
            TA.SENDER_MEMBER_ID,
            TM.MEMBER_NICKNAME,
            TM.MEMBER_IMG_NAME,
            TM.MEMBER_IMG_PATH
        FROM TBL_ALERT TA
        JOIN HR.TBL_MEMBER TM ON TM.ID = TA.SENDER_MEMBER_ID
        WHERE RECEIVER_MEMBER_ID = #{receiverMemberId}
        <if test="alertType != null">
            AND ALERT_TYPE = #{alertType}
        </if>
    </select>

<!--  알림 카운트  -->
<!--  읽지 않은 알림을 카운트해주는 쿼리  -->
    <select id="selectCount" resultType="Integer" parameterType="Long">
        SELECT COUNT(ID)
        FROM TBL_ALERT
        WHERE RECEIVER_MEMBER_ID = #{receiverMemberId} AND ALERT_READ = 0
    </select>

<!--  읽음 여부 처리  -->
<!--  유저가 특정 알람을 클릭했을 때, 읽음 여부처리  -->
    <update id="update" parameterType="Long">
        UPDATE TBL_ALERT SET ALERT_READ = 1
        WHERE ID = #{id}
    </update>

<!--  알림 삭제  -->
<!--  알림의 아이디값으로 삭제  -->
    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_ALERT
        WHERE ID = #{id}
    </delete>

<!--  알림 전체 삭제  -->
<!--  해당 유저가 받은 알림을 전체 삭제  -->
    <delete id="deleteAll" parameterType="Long">
        DELETE FROM TBL_ALERT
        WHERE RECEIVER_MEMBER_ID = #{receiverMemberId}
    </delete>

<!--  회원탈퇴용 알림 전체 삭제  -->
    <delete id="deleteAllByWithdraw" parameterType="Long">
        DELETE FROM TBL_ALERT
        WHERE RECEIVER_MEMBER_ID = #{memberId} OR SENDER_MEMBER_ID = #{memberId}
    </delete>
</mapper>