<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.personalbuddyback.mapper.EventMapper">

    <!-- 진행 중 이벤트 3개 (슬라이드배너) -->
    <select id="selectCurrentEvents" resultType="com.app.personalbuddyback.domain.EventListViewDTO">
        SELECT ID, EVENT_TITLE, EVENT_DESCRIPTION, EVENT_START_DATE, EVENT_END_DATE,
               EVENT_VIEWS, EVENT_GET_POINT, THUMBNAIL_URL, JOIN_COUNT, COMMENT_COUNT, EVENT_LIKE_COUNT
        FROM VW_EVENT_LIST
        WHERE SYSDATE BETWEEN EVENT_START_DATE AND EVENT_END_DATE
        ORDER BY EVENT_START_DATE
            FETCH FIRST 3 ROWS ONLY
    </select>

    <!-- 커밍순 이벤트 리스트 -->
    <select id="selectComingEvents" resultType="EventListViewDTO">
        SELECT ID, EVENT_TITLE, EVENT_DESCRIPTION, EVENT_START_DATE, EVENT_END_DATE,
               EVENT_VIEWS, EVENT_GET_POINT, THUMBNAIL_URL, JOIN_COUNT, COMMENT_COUNT, EVENT_LIKE_COUNT
        FROM VW_EVENT_LIST
        WHERE EVENT_START_DATE > SYSDATE
        ORDER BY EVENT_START_DATE
    </select>

    <!-- 참여 가능한 이벤트 리스트 -->
    <select id="selectAvailableEvents" resultType="EventListViewDTO">
        SELECT ID, EVENT_TITLE, EVENT_DESCRIPTION, EVENT_START_DATE, EVENT_END_DATE,
               EVENT_VIEWS, EVENT_GET_POINT, THUMBNAIL_URL, JOIN_COUNT, COMMENT_COUNT, EVENT_LIKE_COUNT
        FROM VW_EVENT_LIST
        WHERE SYSDATE BETWEEN EVENT_START_DATE AND EVENT_END_DATE
        ORDER BY EVENT_START_DATE
    </select>

    <!-- 이벤트 상세 정보 조회 -->
    <select id="selectEventDetail" parameterType="long" resultType="EventViewDTO">
        SELECT ID, EVENT_TITLE, EVENT_DESCRIPTION, EVENT_START_DATE, EVENT_END_DATE, EVENT_VIEWS,
               EVENT_GET_POINT, THUMBNAIL_URL, JOIN_COUNT, COMMENT_COUNT, EVENT_LIKE_COUNT
        FROM VW_EVENT_LIST
        WHERE ID = #{id}
    </select>

    <!-- 조회수 증가 -->
    <update id="updateEventView" parameterType="long">
        UPDATE TBL_EVENT
        SET EVENT_VIEWS = EVENT_VIEWS + 1
        WHERE ID = #{id}
    </update>

    <!-- 게시글 좋아요 추가 -->
    <insert id="insertEventLike" parameterType="EventLikeVO">
        INSERT INTO TBL_EVENT_LIKE (ID, EVENT_LIKE_CREATE_TIME, EVENT_ID, MEMBER_ID)
        VALUES (SEQ_EVENT_LIKE.NEXTVAL, SYSDATE, #{eventId}, #{memberId})
    </insert>

    <!-- 게시글 좋아요 취소 -->
    <delete id="deleteEventLike" parameterType="EventLikeVO">
        DELETE FROM TBL_EVENT_LIKE
        WHERE EVENT_ID = #{eventId} AND MEMBER_ID = #{memberId}
    </delete>

    <!-- 게시글 좋아요 여부 확인 -->
    <select id="isEventLiked" parameterType="EventLikeVO" resultType="int">
        SELECT COUNT(ID)
        FROM TBL_EVENT_LIKE
        WHERE EVENT_ID = #{eventId} AND MEMBER_ID = #{memberId}
    </select>

    <!-- 게시글 좋아요 수 조회 -->
    <select id="countEventLike" parameterType="long" resultType="int">
        SELECT COUNT(ID)
        FROM TBL_EVENT_LIKE
        WHERE EVENT_ID = #{eventId}
    </select>
</mapper>
